@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.main {
  position: relative;
}

.home {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(#ede8f5, #3d52a0);
  height: calc(100vh - 50px);
  overflow: hidden;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  z-index: 20;
  width: 400px;
  font-size: 80px;
}

img {
  opacity: 0.8;
}

span {
  font-family: 'Lobster', sans-serif;
}
