.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(#ede8f5, #3d52a0);
  height: calc(100vh - 50px);
  font-size: 60px;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  border: 2px solid #ede8f5;
  height: 300px;
  width: 300px;
}

h1 {
  font-family: 'Lobster';
  margin-bottom: 10px;
}
.input_email, .input_password {
  height: 30px;
  width: 200px;
  background-color: #8697c4;
  border: 1px solid #ede8f5;
  border-radius: 5px;
}
input::placeholder {
  color: #ede8f5;
}

.err {
  font-size: 15px;
  color: red;
}